@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
#brand_art {
  text-align: left;
  width: 4%;
  height: 5%;
  margin: 20px 20px;
}
#content_art {
  margin: 0 auto;
}
#content_art h1 {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  font-family: Josefin Sans;
  font-size: 50px;
}
#container-img_art {
  text-align: center;
  border-radius: 5px;
}
#container-img_art img {
  border-radius: 5px;
  width: 40%;
  height: 40%;
}
.social_art {
  letter-spacing: 20px;
  text-align: right;
  margin-right: 15%;
  padding: 5px;
  margin-bottom: 30px;
}
.social_art a {
  color: black;
}
.text_art {
  padding: 20px;
}
.text_art p {
  display: flex;
  text-align: left;
  font-size: 16px;
}
.text_art {
  & img {
    width: 500px;
    max-width: 380px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    font-family: Montserrat !important;
    & strong {
      font-weight: 700;
      font-size: 20px;
      flex: none;
      display: block;
      margin: 0;
      padding: 0;
      text-align: left;
    }
    & em {
      font-size: 18px;
      font-weight: 500;
      font-style: italic;
    }
  }
  & h3 {
    padding: 20px;
    font-size: 25px;
    font-family: Poppins;
    text-align: left;
    margin-left: 13.5%;
    & strong {
      font-weight: 600;
      font-style: bold;
      font-size: 25px;
      font-family: Poppins;
    }
  }
  & h2 {
    font-size: 35px;
    padding: 20px;
    text-align: left;
    margin-left: 13.5%;
    & strong {
      font-weight: 700;
      font-size: 30px;
      text-align: start;
      text-align: left;
    }
  }
  & ul {
    text-align: left;
    margin-left: 15%;
    font-size: 20px;
    font-family: Montserrat;
    list-style-type: square;
  }
  & blockquote {
    font-size: 20px;
    font-style: italic;
    font-family: Montserrat;
    text-align: left;
    margin-left: 15%;
  }
}
@media screen and (max-width: 800px) {
  #brand_art {
    width: 15%;
  }
  .social_art {
    text-align: center;
    margin-left: 15%;
  }
  #content_art h1 {
    font-size: 40px;
  }
}
