@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Montserrat:wght@300;400;500;600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    margin-bottom: 0px;
}
#blog-main{
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    text-align: left;
    line-height: 0.8;
    margin-bottom: 20px;
}
#travel{
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #33439b;
    text-align: left;
    margin: 1.3vw 0vw 1.0vw 2vw;
}
#side{
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
    text-align: left;
    margin: 0vw 0vw 0vw 2vw;
}
#blog-bottom-left{
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #33439b;
    text-align: left;
    margin:1.5vw 2vw 1.0vw 1vw;
}
#blog-text{
    font-size: 1.2vw;
    color: #7B8591;
    font-weight: 200;
    text-align: left;
    margin-left: 2vw;
    padding-bottom: 1vw;
}
#img-text{
    font-size: 1.2vw;
    font-family:'Montserrat', sans-serif; 
    color:white;
    text-align: left;
    width: 60%;
    overflow: hidden;
    font-weight: 200;
}
#numounomobile{
    height:450px;
}
input{
    margin: 40px 0px 20px 0px;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}
#pad{
    padding-right: 100px;
    padding-left: 100px;
}
#pad2{
    padding-left: 70px;
    padding-right: 100px;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: white;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
#card-heading{
    font-size: 1.3vw;
    color: #455A64;
}
#card-text{
    font-size: 1vw;
    color: #455A64;
}
nav{
    position: fixed;
    top: 0px;
}
#nav-font{
    font-size: 20px;
}
#modal{
    width: 628px;
    height: 766px;
    text-shadow: 0px 2px 2px rgba(0,0,30,.16);;
}
#login{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 3px 20px 0px 20px;
    cursor: pointer;
    color: black;
    text-shadow:0px 2px 2px rgba(0,0,0,.16);
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 20px;
    margin-left: 25px;
}
.modal-content{
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    border: 0px !important;
}
.nav-link :hover{
    color: black;
    font-size: 20px;
}
.nav-link :active{
    color: #222 !important;
}
#bottom-text{
    position: absolute;
    top: 2vw;
    left:10vw;
    text-align: left;
}
#row1{
    margin-top: 100px;
    
}
#row2{
    margin-top: 200px;
}
#mod{
    border: 0px;
    border-radius: 15px;
}

#subscribe1{
    padding: 0px 100px;
    background-image: url({`${process.env.PUBLIC_URL}/images/map.png`});
}
#center-text{
    margin: auto;
}
#yellow-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: #FFD700;
    text-shadow: 0px 1px 2px #FFf;
    margin-top: 10vw;
}
#card-even{
    margin-bottom: 5vw;
    height:15vw;
    width: 25vw;
    overflow: hidden;
    border:0px;
    
    text-align: end;
}
#card-odd{
    margin-top: 5vw;
    height:15vw;
    width: 25vw;
    border:0px;
    
    overflow: hidden;
}
#card-img{
    width: 12vw;
    height:  12vw;
    float: left;
}

#form-padding{
    margin: 30px 0px 20px 0px;
}
.sub-text{
    font-family:Josefin Sans;
    font-size: 2.5vw;
    color:#455a64;
    margin-top: 1vw;
    margin-bottom: 20px;
}
.main-text{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5.5vw;
    font-weight: 200;
}
.main-text2{
    font-family: 'Montserrat', sans-serif;
    font-size: 5.5vw;
    font-weight:normal;
    line-height: 0.9;
}
 .custom-button {
    color: #ffd700;
    background-color: black;
    border: 0px;
    border-radius: 40px;
    width: 180px;
    font-size: 21px;
    height: 45px;
}
.popRowS{
    display: flex;
    width: 100%;
}
.custom-button2{
    color: #ffd700;
    background-color: black;
    border: 0px;
    width: 230px;
    height: 55px;
    font-size: 24px;
    border-radius: 10px;
    margin: 20px 20px 20px 0px;
    
}
.custom-button-blog-podcast{
    color: #ffd700;
    background-color: black;
    border: 0px;
    width: 180px;
    height: 50px;
    font-size: 22px;
    border-radius: 10px;
    margin: 20px;
    
}
.keep-fixed{
    position: sticky;
    z-index: 1;
    top: 0px;
    
}
#content{
    margin-top: auto;
    margin-bottom: auto;
}
.center-heading{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #151D41;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 3px 3px #0000002d;
}
#side-heading{
    font-family: 'Josefin Sans', sans-serif;
    color: #151D41;
    font-size: 4vw;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0px 3px 3px #0000002d;
    text-align: left;
    
}
.social-button{
    color: #455A64;
    margin: 50px 30px 30px 0px;
    font-size: 35px;

}
#side-heading-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    text-align: left;
}
#copyright{
    text-align: center;
    font-size: 18px;
    color: #151D41;
}
.btn {
    width: 65%;
    padding: 12px ;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    font-family: Montserrat;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    text-decoration: none; /* remove underline from anchors */
  }
  
  
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: white;
    color: black;
  }
  
  .twitter {
    background-color: white;
    color: black;
  }
  
  .google {
    background-color: white;
    color: black;
  }
  
  .container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    width: auto;
  }

#footer-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #445a64;
    padding: 35px 0px 0px 0px;
}
#footer-sub{
    font-size: 20px;
    font-weight: normal;
    color: #151D41;
}
#tl{
    margin-left: 10vw;
    top: 0px;
    width:370px;
    height: 350px;
    transition: width .5s,height .5s;
    transition-timing-function: ease
}
#tl:hover{
    width: 380px;
    height: 360px;
}
#tr{
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 10vw;
    width: 370px;
    height:150px;
    transition: width .5s,height .5s;
    transition-timing-function: ease
}
#tr:hover{
    width: 380px;
    height:160px
}
#ml{
    margin-right: 60px;
    position: absolute;
    bottom:450px;
    left: 0px;
    width:370px;
    height:200px;
    transition: width .5s,height .5s;
    transition-timing-function: ease
}
#ml:hover{
    width: 380px;
    height: 210px;
}
#mr{
    position: absolute;
    bottom:150px;
    right: 0px;
    margin-right: 10vw;
    width:370px;
    height:325px;
    transition: width .5s,height .5s;
    transition-timing-function: ease
}
#mr:hover{
    width: 380px;
    height: 335px;
}
#bl{
    margin-right: 60px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 10vw;
    width:370px;
    height:275px;
    transition: width .5s,height .5s;
    transition-timing-function: ease
}
#bl:hover{
    width: 380px;
    height: 285px;
}
#br{
    position: absolute;
    bottom:0px;
    right: 0px;
    margin-right: 10vw;
    width:370px;
    height:150px;
    transition: width .5s,height .5s;
    transition-timing-function: ease
}
#br:hover{
    width: 380px;
    height: 160px;
}
#skill-box{
    position: relative;
    height: 625px;
}


@media (max-width: 1200px){
    #skill-box{
        position: relative;
        height: 1300px;
    }
    #numounomobile{
        height: 450px;
    }
    /* #skill-box{
        position: relative;
        height: 2500px;
    } */
    #tl{
        margin-left: 5vw;
        margin-right: 5vw;
        left: 0px;
        top: 0px;
    }
    #tr{
        position: absolute;
        margin-left: 5vw;
        margin-right: 5vw;
        top: 350px;
    }
    #ml{
        margin-left: 5vw;
        margin-right: 5vw;
        position: absolute;
        top: 500px;
    }
    #mr{
        margin-left: 5vw;
        margin-right: 5vw;
        position: absolute;
        top: 500px;
    }
    #bl{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-right: 0px;
        position: absolute;
        top: 875px;
    }
    #br{
        margin-left: 5vw;
        margin-right: 5vw;
        position: absolute;
        bottom:0px;
    }
}
@media (max-width: 1000px){
    .sub-text{
        margin-top: 0px;
    }
}
@media (max-width: 768px){
    #pad{
        padding-right: 20px;
        
        padding-left: 20px;
    }
    .sub-text{
        font-size: 5vw;
    }
    #side-heading{
        font-size: 6vw;
        
    }
    #side-heading-child{
        font-size: 3vw;
    }
    #card-heading{
        font-size: 3vw;
    }
    #card-text{
        font-size: 2vw;
    }
    #card-even{
        margin: 15vw auto 0px auto;
        height:30vw;
        width: 30vw;
    }
    #card-odd{
        margin: 0px auto 15vw auto;
        height:30vw;
        width: 30vw;
        border:0px;
    }
    #card-img{
        width: 12vw;
        height:  12vw;
        float: right;
    }
    .main-text{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 50px;
        font-weight: 200;
        
    }
    #subscribe1{
        padding: 0px 50px;
        background-image: url({`${process.env.PUBLIC_URL}/images/map.png`});
    }
    .main-text2{
        font-size: 50px;
        
    }
    #numounomobile{
        height: 400px;
    }

}
